body {
    background-color: #E5E5E5;
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin: auto;
    background-color: #fff;
}

.banner-image img {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

.beachs {
    margin-right: 20px;
}

.beach {
    flex-basis: 40%;
}

.nav,
.footer,
.beach-author {
    padding: 10px;
}

.nav,
.flex {
    display: flex;
    justify-content: space-between;
}

.nav {
    height: 60px;
    line-height: 60px;
}

.nav h1 {
    margin-top: 0;
}

.link {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.wrap {
    flex-wrap: wrap;
}

.author-image {
    border-radius: 50%;
}

.travel {
    background-color: #E5E5E5;
    padding: 20px;
}

.call {
    width: 100%;
    height: 70px;border: 0;
    background-color: #61BF17;
    color: #fff;
}

.nav,
.footer {
    background-color: #61BF17;
    color: #fff;
}

@media (max-width: 500px) {
    body {
        background-color: #fff;
        margin: 0;
    }

    .container {
        width: 100%;
    }

    .sub-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .flex {
        display: unset;
    }

    .beach {
        background-color: #E5E5E5;
        margin-bottom: 20px;
    }

    .beach img {
        width: 100%;
    }

    .beach .text {
        padding: 10px;
    }

    .beachs {
        margin-right: 0;
    }

    .author-travel {
        margin: auto;
        width: 300px;
    }

    .links {
        margin-right: 10px;
    }
}
