<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Piadas</title>
</head>
<body>
    <form th:action="${piada.id == null} ? @{/piadas/salvar} : @{/piadas/atualizar}" method="post" th:object="${piada}">
        <input type="text" th:field="*{descricao}" id="descricao" required>
        <input type="text" th:field="*{resposta}" id="resposta">
        <input type="checkbox" th:field="*{possuiResposta}" id="possuiresposta">
        <input type="hidden" th:field="*{id}" id="id">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>