<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
  <title>Erro</title>
</head>

<body>
  <section class="container" layout:fragment="corpo">
    <div class="text-center">
      <h1 class="h3 mb-3 font-weight-normal">
        <i class="fa-solid fa-circle-exclamation"></i>
        <span th:text="${status}"></span>
      </h1>

      <h2 th:text="${error}"></h2>

      <div>
        <span th:text="${message}"></span><br /><br />
        <a class="btn btn-warning" type="button" href="javascript:history.back()">Voltar a página anterior</a>
      </div>
    </div>
  </section>
</body>

</html>