<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1 th:text="${titulo}">Hello World</h1>

  <div>
    <ul>
      <li th:each="comediante : ${comediantes}">
        <span th:text="${comediante}"></span>
      </li>
    </ul>
  </div>

  <div th:each="piada : ${piadas}">
    <details>
      <summary th:text="${piada.descricao}"></summary>
      <p th:text="${piada.resposta}"></p>
    </details>
  </div>
</body>

</html>