<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
  <title>Piadas Nerds</title>
</head>

<body>
  <section class="container" layout:fragment="corpo">
    <h1>Piadas Nerd: TP-II</h1>

    <div th:each="piada : ${piadas}">
      <details>
        <summary th:text="${piada.descricao}"></summary>
        <tabel>
          <tr>
            <td>
              <span th:text="${piada.resposta}"></span>
            </td>
            <td>
              <a th:href="@{|/piadas/editar/${piada.id}|}" class="btn btn-warning btn-sm mx-3">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
            <td>
              <a th:href="@{|/piadas/excluir/${piada.id}|}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>
              </a>
            </td>
          </tr>
        </tabel>
      </details>
    </div>
  </section>
</body>

</html>